<!doctype HTML>


<html>

<head>
	<title>DIVE dashboard</title>
	<link rel="stylesheet" href="/static/css/main.css">
</head>


<body>

{% with page='collection' %}
{% include 'nav.html' %}
{% endwith %}

<div class="container">

	{% with page='collection' %}
	{% include 'dashboard-nav.html' %}
	{% endwith %}

	<div class="row">

		<div class="col-md-12">
			<div role="tabpanel" class="tab-pane collection-tab" id="links">

				<div class="row text-center">
					<div class="dashboard-header">
						<img src="/static/images/small-curl.png">
						<h3>Collection statistics</h3>
						<img src="/static/images/small-curl.png">
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<ul id="collection_tabs" class="nav nav-tabs">
							<li role="presentation" class="active">
								<a href="#no_source" role="tab" data-toggle="tab">Media objects without a source</a>
							</li>
							<li role="presentation">
								<a href="#broken_events" role="tab" data-toggle="tab">Events without an actor</a>
							</li>
							<!-- <li role="presentation">
								<a href="#no_persons" role="tab" data-toggle="tab">Events without a person</a>
							</li> -->
						</ul>
					</div>
				</div>


				<div class="row">
					<div class="col-md-12">
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="no_source">

								<h4 class="bengfont"><i class="fa fa-link"></i>&nbsp;Select a media object to inspect it</h4>

								{% for mo in stats['no-source'] %}
									<a href="http://data.dive.beeldengeluid.nl/browse/list_resource?r={{mo.uri|urlencode}}" target="_repo">{{mo.title}}</a><br>
								{% endfor %}

							</div>
							<div role="tabpanel" class="tab-pane" id="broken_events">

								<h4 class="bengfont"><i class="fa fa-link"></i>&nbsp;Select a media object to inspect it</h4>
								<table class="table">
								{% for event in stats['broken-events'] %}
								<tr>
									<td class="active">
										<a href="http://data.dive.beeldengeluid.nl/browse/list_resource?r={{event.uri|urlencode}}" target="_inspect">{{event.mediaTitle}}</a>
									</td>
									<td class="success">
										<a href="http://data.dive.beeldengeluid.nl/browse/list_resource?r={{event.actor|urlencode}}" target="_inspect">{{event.actorName}}</a>
									</td>
									<td class="warning">
										<a href="http://data.dive.beeldengeluid.nl/browse/list_resource?r={{event.place|urlencode}}" target="_inspect">{{event.placeName}}</a>
									</td>
								</tr>
								{% endfor %}

							</div>
							<!-- <div role="tabpanel" class="tab-pane" id="no_persons">

								<h4 class="bengfont"><i class="fa fa-link"></i>&nbsp;Select a media object to inspect it</h4>



							</div> -->
						</div>

					</div>

				</div>

			</div>
		</div>


	</div>

</div>

</div> <!-- End container-->

</body>

<script src="/static/bower_components/jquery/dist/jquery.js"></script>
<script src="/static/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
<script src="/static/js/dive-dashboard.js"></script>

</html>