<!doctype HTML>


<html>

<head>
	<title>DIVE dashboard</title>
	<link rel="stylesheet" href="/static/css/main.css">
</head>


<body>

{% with page='collection' %}
{% include 'nav.html' %}
{% endwith %}

<div class="container">

	{% with page='collection' %}
	{% include 'dashboard-nav.html' %}
	{% endwith %}

	<div class="row">

		<div class="col-md-12">
			<div role="tabpanel" class="tab-pane collection-tab" id="links">

				<div class="row text-center">
					<div class="dashboard-header">
						<img src="/static/images/small-curl.png">
						<h3>Collection statistics</h3>
						<img src="/static/images/small-curl.png">
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<ul id="collection_tabs" class="nav nav-tabs">

							{% if stats['no-source']%}
							<li role="presentation">
								<a href="#no_source" role="tab" data-toggle="tab">Media objects without a source</a>
							</li>
							{% endif %}

							{% if stats['broken-events']%}
							<li role="presentation">
								<a href="#broken_events" role="tab" data-toggle="tab">Incomplete event objects</a>
							</li>
							{% endif %}
						</ul>
					</div>
				</div>


				<div class="row">
					<div class="col-md-12">
						<div class="tab-content">

							{% if stats['no-source']%}
							<div role="tabpanel" class="tab-pane" id="no_source">

								<h4 class="bengfont"><i class="fa fa-link"></i>&nbsp;Select a media object to inspect it</h4>
								<table class="table table-condensed table-striped">
								<thead>
									<th class="col-sm-6">Media object</th>
								</thead>
								<tbody>
								{% for mo in stats['no-source'] %}
									<tr>
										<td>
										<a href="http://data.dive.beeldengeluid.nl/browse/list_resource?r={{mo.uri|urlencode}}" target="_repo">{{mo.title}}</a><br>
										</td>
									</tr>
								{% endfor %}
								</tbody>
								</table>

							</div>
							{% endif %}

							{% if stats['broken-events']%}
							<div role="tabpanel" class="tab-pane" id="broken_events">

								<h4 class="bengfont"><i class="fa fa-link"></i>&nbsp;Select a media object to inspect it</h4>
								<table class="table table-condensed table-striped">
								<thead>
									<th class="col-sm-6">Event (object title)</th>
									<th class="col-sm-3">Actor</th>
									<th class="col-sm-3">Place</th>
								</thead>
								<tbody>
								{% for k,v in stats['broken-events'].iteritems() %}
								<tr>
									<td>
										<a href="http://data.dive.beeldengeluid.nl/browse/list_resource?r={{k|urlencode}}" target="_inspect">{{v.mediaTitle}}</a>
									</td>
									<td>
										{% for a in v.actors %}
											<a href="http://data.dive.beeldengeluid.nl/browse/list_resource?r={{a.uri|urlencode}}" target="_inspect">{{a.name}}</a>
										{% endfor %}
									</td>
									<td>
										{% for p in v.places %}
											<a href="http://data.dive.beeldengeluid.nl/browse/list_resource?r={{p.uri|urlencode}}" target="_inspect">{{p.name}}</a>
										{% endfor %}
									</td>
								</tr>
								{% endfor %}
								</tbody>
								</table>

							</div>
							{% endif %}

						</div>

					</div>

				</div>

			</div>
		</div>


	</div>

</div>

</div> <!-- End container-->

</body>

<script src="/static/bower_components/jquery/dist/jquery.js"></script>
<script src="/static/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
<script src="/static/js/dive-dashboard.js"></script>

</html>