<div class="row">
	<div class="col-md-12">
		<form class="form-inline text-right">
			<div class="form-group">
				<label for="collection_select">Selected collection</label>
				<select id="collection_select" class="form-control" onchange="setCollection(this)">
					{% for c in collections %}
						{% if c.uri == collection %}
							<option value="{{c.uri}}" selected>{{c.label}}</option>
						{% else %}
							<option value="{{c.uri}}">{{c.label}}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>
		</form>
	</div>
</div>


<div class="row">
	<div class="col-md-12">
		<ul class="nav nav-tabs">
			{% if page == 'collection' %}
			<li role="presentation" class="active">
				<a href="javascript:void(0);" onclick="gotoPage('collection');">Collection info</a>
			</li>
			<li role="presentation">
				<a href="javascript:void(0);" onclick="gotoPage('crowd-tasks');">CrowdTruth</a>
			</li>
			<li role="presentation">
				<a href="javascript:void(0);" onclick="gotoPage('alignments');">Alignments</a>
			</li>
			{% elif page == 'crowd-tasks' %}
			<li role="presentation">
				<a href="javascript:void(0);" onclick="gotoPage('collection');">Collection info</a>
			</li>
			<li role="presentation" class="active">
				<a href="javascript:void(0);" onclick="gotoPage('crowd-tasks');">CrowdTruth</a>
			</li>
			<li role="presentation">
				<a href="javascript:void(0);" onclick="gotoPage('alignments');">Alignments</a>
			</li>
			{% elif page == 'alignments' %}
			<li role="presentation">
				<a href="javascript:void(0);" onclick="gotoPage('collection');">Collection info</a>
			</li>
			<li role="presentation">
				<a href="javascript:void(0);" onclick="gotoPage('crowd-tasks');">CrowdTruth</a>
			</li>
			<li role="presentation" class="active">
				<a href="javascript:void(0);" onclick="gotoPage('alignments');">Alignments</a>
			</li>
			{% endif %}
		</ul>
	</div>
</div>